body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: hsl(240deg 10% 3.92%) !important;
}

h1 {
    color: #2c3e50;
}
.card {
    background-color: #09090b;
    border: 1px solid white;
    border-radius: .25rem;
}
.card-body h5 {
    color: white;
}
.card-body p {
    color: white;
}